name: CI workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: chekout code
      uses: actions/checkout@v2

    - name: set up python
      uses: actions/setup-pyhton@v2
      with:
        python-version: '3.9'

    - name: install dependencies 
      run: |
        python -m pip install --upgrade pip
        pip install pytest streamlit

    - name: run tests
      run: |
        pytest _test.py
